/* Base style variables */
:root {
  /* Primary color shade */
  --primary-color-50: #EFFAFF;
  --primary-color-100: #D7F3FF;
  --primary-color-200: #90DEFF;
  --primary-color-300: #009FE3;
  --primary-color-400: #037CB0;

  /* Secondary color shade */
  --secondary-color-50: #FFEDF7;
  --secondary-color-100: #FFD7ED;
  --secondary-color-200: #FD86C7;
  --secondary-color-300: #E6007E;
  --secondary-color-400: #B20263;

  /* Ink color shade */
  --ink-color-40: #282D3A66;
  --ink-color-60: #282D3AB2;
  --ink-color-80: #282d3ACC;
  --ink-color-100: #282D3A;

  /* Error color shade */
  --error-color-100: #FAE5E7;
  --error-color-200: #FE9D9D;
  --error-color-300: #CF0000;
  --error-color-400: #9E0000;

  /* Blue grey shade */
  --blueGrey-color-white: #FFFFFF;
  --blueGrey-color-100: #FBFBFB;
  --blueGrey-color-200: #F0F1F4;
  --blueGrey-color-300: #E7E8EE;
  --blueGrey-color-400: #C6C8D2;
  --blueGrey-color-500: #848996;
  --blueGrey-color-600: #444B61;
  --blueGrey-color-700: #1A233E;

  /* Card Box shadows */
  --card-box-shadow-big: 0px 0px 0px 1px #E8E8E8,
    0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 20px 20px rgba(0, 0, 0, 0.08);
  --card-box-shadow-small: 1px 1px 1px rgba(0, 0, 0, 0.08),
    0px 2px 4px rgba(44, 43, 42, 0.1),
    inset 0px -14px 62px rgba(0, 0, 0, 0.03);
}

/* Other base config */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Oxygen', 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
