autopep8
cryptography
email-validator
fastapi
firebase-admin
grpcio-status
httptools
httpx
itsdangerous
jinja2
PyPDF2
mysql-connector-python
orjson
pip-chill
python-dotenv
python-multipart
pyyaml
sqlalchemy
ujson
uvicorn
watchfiles
websockets
