.main_category {
    margin-top: 40px;
    width: fit-content;
}

.category_heading {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_heading h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--ink-color-80);
}

.category_heading a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color-300);
}

.category_heading a:hover {
    color: var(--secondary-color-400);
}

.subcategories_container {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    width: fit-content; 
}

@media (max-width: 720px) {
    .subcategories_container {
        justify-content: center;
    }
    
}