.footer {
    width: 100%;
    background-color: var(--blueGrey-color-700);
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer img {
    height: 54px;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
    color: var(--blueGrey-color-400);
}

.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--blueGrey-color-white);
    font-size: 14px;
}

.footer_links a {
    color: var(--blueGrey-color-white);
    transition: color .2s ease-in-out;
}

.footer_links a:hover {
    color: var(--primary-color-300);
}

.footer_socials {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 20px;
}

.footer_socials a {
    transition: transform .3s;
}

.footer_socials img {
    height: 40px;
    width: 40px;
}

.footer_socials a:hover {
    transform: scale(1.3);
}

/* Media queries */
@media (max-width: 725px) {
    .footer {
        padding: 60px 40px;
    }

}

@media (max-width: 590px) {
    .footer {
        padding: 40px;
    }

    .footer_links {
        flex-direction: column;
    }

    .footer_links p {
        display: none;
    }

    .footer_socials {
        flex-direction: column;
        gap: 20px;
    }
}