.forgot-description {
    width: 100%;
    max-width: 374px;
    text-align: justify;
    text-justify: inter-word;
}

.forgot-description h2 {
    margin-top: 30px;
    font-size: 18px;
}

.forgot-description p {
    margin-top: 10px;
    font-size: 14px;
}