.mainCategories {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
}

.mainCategories h3 {
    position: relative;
    padding-left: 15px;
    font-size: 24px;
    font-weight: 700;
    color: var(--ink-color-100);
    line-height: 28px;
}

.mainCategories h3::after {
    content: '';
    width: 10px;
    height: 28px;
    position: absolute;
    top: 0;
    left: -10px;
    background-color: var(--secondary-color-300);
}

/* Media queries */
@media (max-width: 375px) {
    .mainCategories h3 {
        font-size: 20px;
    }

    .mainCategories {
        padding: 40px 20px;
    }
}