*{
    overflow:hidden;
}

.navBar {
    width: 100%;
    height: 124px;
    border-bottom: 2px solid var(--blueGrey-color-300);
}

.nav_content {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
}

.nav__logo {
    display: block;
    content: url('../../imgs/UniTutor_logo.svg');
    height: 44px;
    margin-right: 40px;
}

.nav_menu {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.nav__session .button {
    height: 44px;
    width: 149px;
}

.nav__session a {
    text-decoration: none;
    color: var(--secondary-color-300);
    width: max-content;
}

.nav__session a:hover {
    color: var(--secondary-color-400);
}

.nav_search.container {
    width: 100%;
    max-width: 800px;
    margin-right: 40px;
}

#nav_search {
    width: 100%;
}

.nav_icon-button {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blueGrey-color-400);
    border-radius: 50%;
    background-color: var(--blueGrey-color-white);
    transition: all .3s ease-in-out;
    z-index: 2;
}

.nav_icon-button img {
    width: 44px;
    height: 44px;
    padding: 10px;
}

.nav_icon-button:hover {
    background-color: var(--primary-color-100);
    border-color: var(--primary-color-300);
}

.nav_notification-number {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color-300);
    color: var(--blueGrey-color-100);
}

.nav_dropdown.container {
    position: relative;
}

.nav_dropdown.hidden {
    visibility: hidden;
}

.nav_dropdown.content {
    position: absolute;
    width: 250px;
    left: -115px;
    background-color: var(--primary-color-50);
    border: 1px solid var(--primary-color-50);
    padding: 20px 0px;
    box-shadow: var(--card-box-shadow-small-1), var(--card-box-shadow-small-2), var(--card-box-shadow-small-3);
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    z-index: 1;
}

.nav_dropdown.content::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--primary-color-50);
    border-left: 15px solid transparent;
    top: -30px;
    right: 98px;
}

.nav_dropdown.profile {
    width: 200px;
}

.nav_dropdown.content.profile::after {
    right: 48px;
}

.nav_dropdown.content button {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    transition: background-color .3s ease-in-out;
}

.nav_dropdown.content button:hover {
    background-color: var(--primary-color-200);
}

.nav_burger-menu {
    display: none;
    width: 40px;
    height: 40px;
}

/* Media queries */

@media (max-width: 1023px) {
    .nav__logo {
        content: url('../../imgs/UniTutor_logo-shapeOnly.svg');
        height: 55px;
        width: 77px;    
    }

    .nav_menu {
        position: absolute;
        top:0;
        right:0;
        width: 200px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: column;
        justify-content: start;
        padding-top: 140px;
        z-index: 0;
    }

    .nav_burger-menu {
        display: block;
        z-index: 10;
    }
}