/* Styles for progress Bar */
.progress-bar.bar__container {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color-100);
    border-radius: 2px;
}

.progress-bar.bar {
    display: block;
    height: 100%;
    background-color: var(--secondary-color-300);
    border-radius: 2px;
}

.bar.percent__10 {
    width: 10%;
}

.bar.percent__20 {
    width: 20%;
}

.bar.percent__30 {
    width: 30%;
}

.bar.percent__40 {
    width: 40%;
}

.bar.percent__50 {
    width: 50%;
}

.bar.percent__60 {
    width: 60%;
}

.bar.percent__70 {
    width: 70%;
}

.bar.percent__80 {
    width: 80%;
}

.bar.percent__90 {
    width: 90%;
}

.bar.percent__100 {
    width: 100%;
}