.page.tutorships {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-template-rows: repeat(auto-fill, 224px);
    gap: 30px;
}

/* media queries */
@media (max-width: 1200px) {

    .page.tutorships {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        column-gap: 20px;
    }
}

@media (max-width: 800px) {
    .page.tutorships {
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
        column-gap: 15px;
    }
}

@media (max-width: 400px) {

    .page.tutorships {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fill, 190px);
        column-gap: 10px;
    }
}