.categories.main-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.categories.container {
    width: 100%;
    padding: 40px 100px;
    display: flex;
    flex-grow: 1;
}

.categories.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.categories h1 {
    display: flex;
    gap: 10px;
    color: var(--blueGrey-color-600);
    font-weight: bold;
    font-size: 40px;
    align-items: center;
}

.categories h1 img {
    height: 35px;
    width: 35px;
}

.categories.cards-container {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    flex-grow: 1;
}

.categories .main_subcategorie a {
    text-decoration: none;
}

.categories.category h1 {
    position: relative;
    padding-left: 15px;
}

.categories.category h1::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 30px;
    top: calc(50% - 15px);
    left: 0;
    background-color: var(--secondary-color-300);
}

@media screen and (max-width: 500px) {
    .categories.container {
        padding: 40px 20px !important;
    }
}