.formContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blueGrey-color-200);
}

.RegisterCard {
    background-color: var(--blueGrey-color-white);
    border-radius: 10px;
    box-shadow: var(--card-box-shadow-big);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
    width: fit-content;
}

.form-header {
    font-size: 18px;
    color: var(--ink-color-80);
    text-align: left;
}

.form-header img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.ProgressBar{
    width: 100%;
}

img{
    margin: auto;
    width: 60%;
}

form{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-mail-input {
    margin-top: 40px;
}

.password-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.buttonsContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 35px;
}

.buttonsContainer::before {
    position: absolute;
    content: '';
    background: var(--ink-color-80);
    width: 40%;
    height: 1px;
    top: calc(50% - 1px);
    left: 0;
}

.buttonsContainer::after {
    position: absolute;
    content: '';
    background: var(--ink-color-80);
    width: 40%;
    height: 1px;
    top: calc(50% - 1px);
    right: 0;
}

.button {
    width: 100%;
}

/* Media queries */

@media (max-width: 560px) {
    .RegisterCard {
        padding: 40px 50px;
        box-shadow: none;
    }

    .formContainer {
        background-color: var(--blueGrey-color-white);
    }

    .form-header {
        font-size: 16px;
    }
}

@media (min-width: 560px) {
    .input {
        width: 374px !important; 
    }
}