.search.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.search.page h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--blueGrey-color-600);
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 30px;
}

.search.page h1 img {
    width: 30px;
    height: 30px;
}

.search.content {
    width: 100%;
    flex-grow: 1;
    padding: 40px 150px;
}

.search.results {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.search.filters {
    width: 300px;
    padding: 80px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: var(--card-box-shadow-small-1), var(--card-box-shadow-small-2);
    border-radius: 12px;
    gap: 20px;
    position: relative;
}

.search .dropdown {
    position: relative;
}

.search .dropdown h2 {
    font-size: 20px;
    color: var(--ink-color-80);
    display: flex;
    gap: 5px;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 30px;
}

.search .dropdown h2 img{
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.search.filters label, .search.filters p {
    font-size: 15px;
    font-weight: 500;
    color: var(--blueGrey-color-700)
}

.search.filters .input, .search.filters .input-group, .search.filters .input-container {
    width: 100%
}

.search.filters .input {
    padding: 14px 10px;
}

.search.actions {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search .price-inputs {
    display: flex;
    gap: 30px;
    position: relative;
}

.search .price-inputs::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 6px);
    width: 12px;
    height: 4px;
    background: var(--secondary-color-300);
}

.search.actions .clean {
    color: var(--secondary-color-300);
    border-color: var(--secondary-color-300);
}

.search.actions .clean:hover {
    color: var(--blueGrey-color-white);
    background-color: var(--secondary-color-300);
}

.search .page.tutorships {
    width: calc(100% - 340px);
}

.search .no-results {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--ink-color-80);
    margin-top: 40px;
}

/* Media queries */
@media (max-width: 1580px) {
    .search.content {
        padding: 40px 100px;
    }
}

@media (max-width: 1480px) {
    .search.content {
        padding: 40px 50px;
    }
}

@media (max-width: 1080px) {
    .search.content {
        padding: 40px 30px;
    }

    .search.results {
        gap: 20px;
    }

    .search .page.tutorships {
        width: calc(100% - 320px);
    }
}

@media (max-width: 1000px) {

    .search.content {
        padding-top: 15px;
    }

    .search .dropdown {
        position: absolute;
        top: 205px;
        left: 0;
        width: 100%;
        height: 0;
    }

    .search .dropdown.active {
        height: calc(100% - 205px);
        background-color: rgba(0, 0, 0 ,0.5);
        z-index: 2;
    }

    .search .dropdown h2 {
        width: max-content;
        top: -62px;
        left: calc(100% - 158px);
        cursor: pointer;
        padding: 10px 30px 10px 10px;
        border-radius: 6px;
    }

    .search .dropdown h2:hover {
        background-color: var(--blueGrey-color-200);
    }

    .search .dropdown h2::after {
        content: url('../imgs/down.svg');
        width: 24px;
        height: 24px;
        position: absolute;
        top: 13px;
        right: 5px;
        pointer-events: none;
        transition: transform .3s ease-in-out;
    }

    .search.filters {
        position: absolute;
        top: 5px;
        right: 20px;
        padding-top: 40px;
        background-color: white;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .3s ease-in-out;
    }

    .search .dropdown.active .filters {
        transform: scaleY(1);
    }

    .search .dropdown.active h2::after {
        transform: rotate(-180deg);
    }

    .search .page.tutorships {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .search .dropdown h2 {
        width: calc(100% - 60px);
        background-color: var(--blueGrey-color-200);
        top: -50px;
        left: 30px;
    }

    .search .page.tutorships {
        margin-top: 40px;
        width: 100%;
    }

    .search .dropdown {
        top: 245px;
    }

    .search .dropdown.active {
        height: calc(100% - 245px);
    }
}